
pandas ==0.25.1
pydotplus == 2.0.2
ipywidgets == 7.5.1
scikit-learn  ==0.23.3
sklearn.tree ==0.23.2
sklearn.model_selection == 0.23.2
sklearn == 0.23.2
sklearn.externals.six == 0.23.2
IPython.display == 7.8.0
